*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  .account-informatie { 
    display: grid; 
    grid-area: 7 / 1 / 20 / 9;
    border-style: solid;
    /* border-width: 10px; */
    border-color: royalblue;
    background-color: #ed6307;
    border-radius: 75px;
    margin-bottom: -15px;
    justify-content: center;
    padding: 5px;
}
.account-informatie h1{
    padding: 0px;
    margin: 0px;
    text-align: center; 
}
.account-informatie h3{

}
h2{
    margin-top: 0px;
    margin-left: 20px;
}
/*order vak styling */
.order-informatie{
    grid-area: 7 / 9 / 31 / 31;
    background-color: #ed6307;
    border-style: solid;
    /* border-width: 5px; */
    border-color:royalblue;   
    border-radius: 75px;
    margin-bottom: -15px;
    justify-content: center;
    padding: 10px;
    border-style: solid;
}

.order-informatie h1{
    margin-top: 10px;
    text-align: center;

}
/* idk */
.idk h1{
    text-align: center;
}
.idk{
    background-color: #ed6307;
    border-style: solid;
    border-color: royalblue;
    grid-area: 21 / 1 / 31 / 9;
    border-radius: 75px;
    text-align: center;
    padding: 15px;
}
.idk p{
    padding: 10px;
}

.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {border-radius: 50%; background-color: red;}
  .button2 {border-radius: 50%; background-color: black; }
  .button3 {border-radius: 50%; background-color: royalblue;}
