body{
 margin: 0;
}

.info{
    background-color: orange;
    grid-area: 5 / 15 / 14 / 2;
    border-radius: 15px;
}
.info h1{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    text-align: center;
}
.h2{
    font-family: 'Courier New', Courier, monospace;
}
.button {
    background-color: red; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {
    border-radius: 2px;
}