body{
    background-color: black;
}

.parent {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 100vh;
  }
  .logo{
    grid-area: 1 / 19 / 4 / 13; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Logo{
    height: 100%;
    width: auto;
  }
  .Navbar{
    grid-area: 4 / 27 / 7 / 6;
    background-color: black;
    border-radius: 75PX;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  
  .navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  color: orange;
  }
  
  .navMenu a:hover {
  color: #fddb3a;
  }
  
  .navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(125px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(235px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(385px);
  transform: translateX(340px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }
  .navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(437px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .navMenu a:nth-child(6):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(540px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .navMenu a:nth-child(7):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(715px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
